 .u-section-1 {
  background-image: linear-gradient(black, #282347);
}

.u-section-1 .u-sheet-1 {
  min-height: 1218px;
}

.u-section-1 .u-form-1 {
  height: 1014px;
  --thumb-color: #766ac5;
  --thumb-hover-color: #766ac5;
  --track-color: #c0c0c0;
  --track-active-color: #766ac5;
  width: 1011px;
  margin: 144px auto 60px;
}

.u-section-1 .u-label-1 {
  text-transform: none;
}

.u-section-1 .u-label-2 {
  text-transform: none;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  text-transform: none;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  text-transform: none;
}

.u-section-1 .u-input-4 {
  text-transform: none;
}

.u-section-1 .u-line-1 {
  height: 0;
  margin-bottom: 60px !important;
  margin-top: 60px !important;
}

.u-section-1 .u-form-group-6 {
  --progress: 0%;
}

.u-section-1 .u-label-5 {
  text-transform: none;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  text-transform: none;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  text-transform: none;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-label-8 {
  text-transform: none;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-label-9 {
  text-transform: none;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
  text-transform: none;
}

.u-section-1 .u-label-10 {
  text-transform: none;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-label-11 {
  text-transform: none;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    height: 889px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    height: 1061px;
    margin-top: 143px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}